# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# PWA generated artifacts
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
/public/worker-*.js
/public/fallback-*.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
